@use "../../base/variables.scss" as *;

.support-page {
  min-height: 100vh;
  background-color: $background;
}

.support-page__content {
  padding: 107px 28px 0;
}

.support-page__header {
  margin-bottom: 40px;
}

.support-page__title {
  font-family: $font-family;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.221;
  color: $main-color;
  margin: 0 0 9px 0;
}

.support-page__subtitle {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.193;
  color: $main-color;
  margin: 0;
}

.support-page__contacts {
  display: flex;
  flex-direction: column;
}

.support-page__contact-item {
  padding: 20px 0;
}

.support-page__contact-label {
  font-family: $font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.193;
  color: $second-color;
  margin: 0 0 8px 0;
}

.support-page__contact-value {
  font-family: $font-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.221;
  color: $main-color;
  text-decoration: none;
  display: block;
  transition: opacity 0.2s;
  
  &:hover {
    opacity: 0.7;
  }
}

.support-page__divider {
  height: 1px;
  background-color: $border-color-light;
  margin: 0 5px;
}

