@use "libs/modern-normalize.min.css";
@use "base/basic.scss";

@use "blocks/header.scss";
@use "blocks/auth.scss";
@use "blocks/orders.scss";
@use "blocks/wallet.scss";
@use "blocks/home.scss";
@use "blocks/app/app.scss";
@use "blocks/ads-page/ads-page.scss";
@use "blocks/create-ad-page/create-ad-page.scss";
@use "blocks/orders-page/orders-page.scss";
@use "blocks/support-page/support-page.scss";

@use "ui/titles.scss";
@use "ui/buttons.scss";
