@use "libs/modern-normalize.min.css";
@use "base/basic.scss";

@use "blocks/header.scss";
@use "blocks/auth.scss";
@use "blocks/orders.scss";
@use "blocks/wallet.scss";
@use "blocks/home.scss";

@use "ui/titles.scss";
@use "ui/buttons.scss";
